.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-width {
  width: 700px;
}

.full-width {
  width: 100%;
}

.half-width-l {
  width: 49.9%;
  float: left;
}

.half-width-r {
  width: 49.9%;
  float: right;
}
