<br>
<h1>&nbsp;&nbsp;&nbsp;Welcome to <a href="https://wiki.discoverydataservice.org/index.php?title=Welcome_to_the_Discovery_Data_Service_knowledge_base"
                                    style="text-decoration: none"
                                    target="_blank">
  Discovery Data Service
  </a>
</h1>
<h3>&nbsp;&nbsp;&nbsp;This application is used to register for an account in Discovery</h3>
<button mat-button color="accent" (click)="register()">Click to register a Discovery Account</button>


