<h1 mat-dialog-title>Discovery Account Registration</h1>
<form>
  <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>User Id (Email)</mat-label>
      <input matInput [(ngModel)]="account.userId" placeholder="User Id" name="userId" required #userId>
    </mat-form-field>
  </div>
  <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" class="half-width-l">
      <mat-label>Forename</mat-label>
      <input matInput [(ngModel)]="account.forename" placeholder="Forename" name="forename" required #forename>
    </mat-form-field>
    <mat-form-field appearance="outline" class="half-width-r">
      <mat-label>Surname</mat-label>
      <input matInput [(ngModel)]="account.surname" placeholder="Surname" name="surname" required #surname>
    </mat-form-field>
  </div>
  <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="blank" placeholder="Password" name="password" required #password1>
    </mat-form-field>
  </div>
  <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput [(ngModel)]="account.password"  type="password" placeholder="Confirm Password" name="confirmPassword" required #password2>
    </mat-form-field>
  </div>
  <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <small style="color:#ff0000;">* Required field</small>
  </div>
</form>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="close()">Cancel</button>
  <button mat-flat-button color="accent" (click)="create()">Create account</button>
</div>
